<app-nav></app-nav>
<body>
<div class="uu">
<h1 >About Us</h1>
<img src="../../../assets/img/file.png" alt="">
</div>
<div class="check-available">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inn-com-form">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12 avail-title">
                        </div>
                        </div>
                        <div class="row">
                         
                         
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rr">
<div class="about">
<h1> Welcome to our website,</h1>
<h4>where you can find the perfect place to stay during your visit to Tunisia. We offer a wide selection of comfortable and affordable accommodations, including rooms and houses, across the country. Our mission is to make the booking process easy and hassle-free, so you can focus on enjoying your trip. Our team is dedicated to providing excellent customer service and ensuring that you have a memorable experience. Thank you for choosing us for your travel needs, and we look forward to helping you plan your next adventure in Tunisia!</h4>

</div>


<div class="Tunisia">
    <img src="../../../assets/img/téléchargement.png" alt="" >
</div>
</div>
    <div class="ee">
        <div class="eee"><img src="../../../assets/img/gmail.png" alt=""><p>bookinghome@gmail.com</p></div>
        <div class="eee"><img src="../../../assets/img/phone.png" alt=""><p>(+216) 20 079 600</p></div>
        <div class="eee"><img src="../../../assets/img/linkedin.png" alt=""><p>Booking Home</p></div>
    </div>
<hr>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207520.28637936647!2d10.699738225170286!3d35.63994063996518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130223b40c7ad1b3%3A0xc3b27208e8051b2!2sInstitut%20Sup%C3%A9rieur%20de%20%C3%89tudes%20Technologiques!5e0!3m2!1sfr!2stn!4v1679628818741!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>