
   <app-nav></app-nav>
<body>
    <div class="hom-body-section">
        <div class="container">
            <div class="row">
                <div class="home-bod">
                    <div class="home-bod-1">
                        <h4>Welcome <span></span> </h4>
                        <h2>Welcome to Booking</h2>
                        <p>you can book houses and rooms.</p>
                   
                    </div>
                    <div class="home-bod-2">
                        <ul>
                            <li>
                                <a href="http://localhost:4200/Rooms" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="../../../assets/img/hotel.png" alt=""> Rooms</a>
                            </li>
                            <li>
                                <a href="http://localhost:4200/Houses" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="../../../assets/img/home.png" alt=""> Houses</a>
                            </li>
                            <li>
                                <a href="http://localhost:4200/Destinations" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="../../../assets/img/destination.png" alt=""> Destinations</a>
                            </li>
                            <li>
                                <a href="http://localhost:4200/About us" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="../../../assets/img/file.png" alt=""> About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pho">
                    <img src="../../../assets/img/mo.png" alt="">
                </div>
            </div>
        </div>
        
    </div>

</body>
<app-footer></app-footer>