
<header>
    <img class="logo" src="../../../assets/img/logo.png"   (click)="event()" alt="logo">
    <nav>
    <ul class="nav_links">
        <li><a href="http://localhost:4200/Rooms">Rooms</a></li>
        <li><a href="http://localhost:4200/Houses">Houses</a></li>
        <li><a href="http://localhost:4200/MyReservations"> My Reservations</a></li>
        <li><a href="http://localhost:4200/Destinations">Destinations</a></li>
        <li><a href="http://localhost:4200/About us">About Us</a></li>>
    </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
    </header>
